<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>修改密码</title>
  <link rel="stylesheet" href="../lib/layui/css/layui.css">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/form.css">
</head>

<body>
  <div class="header container">
    修改密码
    <p style="display: block;">
      <a href="./index.html">回到首页</a>
    </p>
  </div>
  <form>
    <span class="error">修改密码错误！</span>
    <label>
      原始密码： <input type="text" name="oldpassword" class="oldpassword">
    </label>
    <label>
      新密码： <input type="text" name="newpassword" class="newpassword">
    </label>
    <label>
      确认新密码： <input type="text" name="rnewpassword" class="rnewpassword">
    </label>
    <button type="submit">确认修改</button>
  </form>
  ]  <script src="../lib/jquery.js"></script>
  <script src="../lib/axios.js"></script>
  <script src="./rpwd.js"></script>
</body>

</html>